.apartment_header{
 display: flex;
 gap : 1rem;
 margin-bottom : 2rem;
}

.apartment_owner{
 margin-top: 0;
 margin-bottom: 0;
 margin-block: 0;
 margin-left: auto;
}

.apartment_owner_details{
 display: flex;
 gap: 0.5rem;
 align-items: center;
}

.apartment_owner_name {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.2;
  text-align: center;
  color: #ff6060;
}

.owner_lastname {
  display: inline-block;
  margin-left: 1.5rem; /* ajuste ce décalage selon besoin */
}

.apartment_owner_badge{
 height: 50px;
 width: 50px;
 border-radius: 50%;
 background-color:#C4C4C4;
}

.on{
 color: #ff6060;
}

.off{
 color:#C4C4C4;
}

.apartment_owner_stars{
  font-size: 2rem;
}

.apartment-title{
 font-weight: 400;
 margin-bottom: 0;
 margin-top: 1rem;
}

.apartment_tags {
 display: grid;
 grid-template-columns: repeat(auto-fit,minmax(100px, 150px));
 gap: 1rem;
}

.apartment_tags span {
 background-color: #ff6060;
 color: white;
 padding: 0.3em 1em; /* ← plus de largeur ici */
 border-radius: 0.7rem;
 font-size: 0.875rem; /* 14px */
 font-weight: 700;
 line-height: 1.5;
 text-align: center; /* ← ça centre le texte à l’intérieur */
}



