.apartment_header {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .apartment_header {
    flex-direction: column;
    align-items: flex-start;
  }
}

.apartment_owner {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .apartment_owner {
    flex-direction: row;
    margin-left: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.apartment_owner_stars {
  font-size: 1.5rem;
  display: flex;
  color:#c4c4c4;
}

.on{
  color: #ff6060;
}

@media screen and (max-width: 768px) {
  .apartment_owner_stars {
    order: 0;
  }
}

.apartment_owner_details {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .apartment_owner_details {
    order: 1;
  }
}

.apartment_owner_name {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #ff6060;
  margin: 0;
  text-align: right;
}

.owner_lastname {
  display: inline-block;
}

.apartment_owner_badge img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.apartment-title {
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0;
}

.apartment_tags {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap; /* pour aller à la ligne si nécessaire */
}

.apartment_tags span {
  background-color: #ff6060;
  color: white;
  padding: 0.3em 1em;
  border-radius: 0.7rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}


.apartment_title_red {
  color: #ff6060; /* rouge identique aux tags */
  font-weight: 300; 
  margin-bottom: auto;
}

.apartment_location_black {
  color: #000000; /* noir */
  font-weight: 300; 
  font-size: 1rem;
  margin-bottom: 2rem;
}






