.navbar{
 display: flex;
 gap: 2rem;
 align-items: center;
 padding: 0 2rem;
 margin-top: 20px;
 color: black;
}

@media screen and (max-width: 768px) {
  .navbar {
    text-transform: uppercase;
    font-weight: 400;
  }

  .navbar__logo{
    width: 100px;
  }
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover{
 text-decoration: underline;
}

.navbar a.active{
  text-decoration: underline;
}

.navbar >*:first-child{
  margin-right: auto;
}
