.banner {
  position: relative;
  height: 223px;
  width: 100%;
  border-radius: 25px;
  margin-bottom: 2rem;
  background-image: url('../assets/MaskGroup.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* overlay sombre */
  z-index: 0;
}

.banner__text {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  z-index: 1;
  text-align: center;
  padding: 0 1rem;
}

